[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  di = diff
  lg = log -p

[push]
  default = simple

[user]
  name = ymmtmdk
  email = ymmtmdk@gmail.com

[core]
  excludesfile = /Users/ymmtmdk/dotfiles/.gitignore_global

[credential]
  helper = osxkeychain
